* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	margin: 0 auto;
}

/* Header CSS */

.header {
	height: 100px;
}
.logo {
	width: 300px;
	float: left;
	height: 100px;
	margin-right: 15px;
	margin-left: 15px;
}
.logo img {
	width: 100%;
	height: 100%;
}
.menu {
	float: right;
	margin-top: 25px;
}
.menu ul {
	list-style: none;
}
.menu ul li {
	display: inline-block;
}
.menu ul li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #e74c3c;
	font-weight: 600;
}

/* Hero Section CSS */

.hero_section {
	display: flex;
	width: 100%;
	height: 85vh;
}
.hero_content {
	width: 50%;
	padding: 15px 60px;
}
.hero_content h2 {
	font-size: 55px;
	margin-top: 65px;
	color: #575757;
}
.hero_content span,
.about span {
	color: #e74c3c;
}
.hero_content p {
	font-size: 18px;
	margin-right: 75px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #575757;
}
.order_btn {
	text-decoration: none;
	color: white;
	background-image: linear-gradient(124deg, #f00, #ff6000);
	padding: 15px 20px;
	display: inline-block;
	border-radius: 25px;
	font-weight: 600;
	margin-top: 30px;
}
.hero_content img {
	width: 75%;
}

/* Aout Section CSS */

.about_section {
	display: flex;
	background-image: url(images/about_bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.hero_content.about_photo {
	padding-bottom: 0;
}
.about_photo img {
	width: 60%;
	margin-left: 25%;
	margin-top: 8%;
}
.hero_content.about_content {
	margin-top: 100px;
}
