* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	margin: 0 auto;
}

/* Header CSS */

.header {
	height: 100px;
}
.logo {
	width: 300px;
	float: left;
	height: 100px;
	margin-right: 15px;
	margin-left: 15px;
}
.logo img {
	width: 100%;
	height: 100%;
}
.menu {
	float: right;
	margin-top: 25px;
}
.menu ul {
	list-style: none;
}
.menu ul li {
	display: inline-block;
}
.menu ul li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #e74c3c;
	font-weight: 600;
}

/* Hero Section CSS */

.hero_section {
	display: flex;
	height: 85vh;
}
.hero_content {
	width: 50%;
	padding: 15px 60px;
}
.hero_content h2 {
	font-size: 55px;
	margin-top: 20px;
	color: #575757;
}
.hero_content span,
.about span,
.footer_area span {
	color: #e74c3c;
}
.hero_content p {
	font-size: 18px;
	margin-right: 75px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #575757;
}
.order_btn {
	text-decoration: none;
	color: white;
	background-image: linear-gradient(124deg, #f00, #ff6000b3);
	padding: 15px 20px;
	display: inline-block;
	border-radius: 25px;
	font-weight: 600;
	margin-top: 30px;
}
.hero_content img {
	width: 75%;
}

/* About Section CSS */

.about_section {
	display: flex;
	background-image: url(images/about_bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.hero_content.about_photo {
	padding-bottom: 0;
}
.about_photo img {
	width: 60%;
	margin-left: 25%;
	margin-top: 8%;
}
.hero_content.about_content {
	margin-top: 100px;
}

/* Recipe Section CSS */

.recipe_content {
	padding: 40px 0;
}
.recipe_content h2 {
	text-align: center;
	font-size: 35px;
	color: #676767;
}
.recipe_content p {
	color: #676767;
	text-align: center;
	font-size: 16px;
	margin: 30px 350px;
	line-height: 20px;
}
.recipies {
	display: flex;
	margin: 0 auto;
	width: 80%;
}
.single_recipie {
	width: 300px;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0px 10px 40px rgb(0 0 0 / 10%);
	margin-right: 40px;
	margin-bottom: 50px;
}
.single_recipie:last-child {
	margin-right: 0px;
}
.single_recipie img {
	width: 100%;
}
.single_recipie h3 {
	font-size: 20px;
	color: #18191f;
	margin: 20px 0 10px 0;
}
.single_recipie p {
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	color: #18191f;
}

/* Fan Section CSS */

.fans_area {
	margin: 0 auto;
	width: 80%;
	padding: 75px 0;
}
.fans {
	display: flex;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0px 10px 40px rgb(0 0 0 / 10%);
	margin-right: 40px;
	margin-bottom: 50px;
}
.single_fan {
	width: 300px;
	margin: 50px 75px;
}
.single_fan h2 {
	font-size: 30px;
}
.single_fan p {
	font-size: 14px;
	margin-top: 15px;
}

/* Footer Section CSS */

.footer_area {
	text-align: center;
	height: 150px;
	background-color: #0b0d17;
}
.footer_area h2 {
	padding-top: 30px;
	text-transform: uppercase;
	color: #b7b5b5;
}
.footer_area p {
	padding-top: 20px;
	color: #fff;
	font-size: 14px;
}
. {
}
